<meta charset = "utf-8">
<style type="text/css">
div.note{
	font-size: 1.2em;
}
</style>
<div class="note">
<h2 style="text-align: center; color: red;">Những lỗi thường gặp phải</h2>
1. Khi dùng để chèn file thư viện config.php và data.php thì nên dùng require_one hoặc include_once vì nếu file đã được chèn rùi thì nó sẽ không chèn nữa. Nếu mà gặp lỗi <br>
"Fatal error: Cannot redeclare class Config"<br><br>
2. Có thể dùng lệnh display: inline-block để cho các khối thẳng hàng như menu, hay danh sách các sản phẩm(nếu dùng float thì danh sách các sản phẩm sẽ bị mất màu nền)<br><br>
3. Ở file index.php thì nên khởi tạo session <br>
session_start(); ob_start();<br><br>
4. Trong form, biến name ở thẻ input còn có tác dụng lưu giá trị value vào 1 mảng khi value có nhiều giá trị<br>
input type="text" name="quan[]" value="<?php echo $value['quantity'] ?>"<br><br>
5. POST và GET<br>
$_GET là phương thức gửi dữ liệu thông qua đường dẫn URL. Server sẽ phân tích tất cả những thông tin đằng sau dấu "?"" chính là dữ liệu mà client gửi lên.<br>
$_POST là phương thức gửi dữ liệu thông qua thẻ form của html và sẽ được định nghĩa trong các input và được nhân dạng thông qua name của input đó.<br>
$_POST = array('name' => 'value');<br><br>
6. Thẻ action trong form là chưa link cụ thể nơi cần gửi dữ liệu khi form được submit<br><br>
7. Phần bắt sự kiên $id_new = $_POST['category'] thì nhớ kiểm tra điều kiện là $_POST['category'] != 0<br><br>
8. Phần ngày tháng trong database, nếu định dạng sai thì Y/m/d  thành d/m/Y thì sẽ tự động lưu vào 
db là 0000-00-00.<br><br>
9. Lệnh number-format dùng để ngăn cách đơn vị giá cả bằng dấu phẩy. Ví dụ 1,000,000. <br>
Nhưng nếu mà khi lấy ra từ form để update thông tin mà dùng lệnh này thì sẽ mất các đơn vị số đằng sau
ví dụ: 1,000,000 đồng sẽ thành 1 đồng. Như vậy, chỉ nên dùng number-format để show ra như trong list.php <br><br>
10. Khi sử dụng giá trị mà đã lưu ở 1 session thì kiểm tra giá trị session đó có tồn tại hay không.
ví dụ p = $_SESSION['product'], nếu không kiểm tra điều kiện isset($_SESSION['product']) thì nó sẽ không hiểu biến product<br><br>
"Notice: Undefined index: product"<br><br>
11. khi lấy giá trị của form thì nên chú ý kiểm tra tồn tại của $_POST['ok'], không thì khi nhấn nút ok thì dữ liệu sẽ được nhập 2 lần. Ví dụ như trường hợp khi làm phần quản lý tài khoản<br><br> 
12. Khi phân trang: page là số thứ tự trang, limit là số bản ghi tối đa của page, start là số thứ tự bản ghi bắt đầu của page. Ta có công thức<br>
	page = tổng số bản ghi/limit;<br>
	start = (page - 1) * limit 	<br>
</div>
